@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono.ttf');
    /* font-family: '方正喵呜体'; */
    /* src: url('FZMWFont.ttf'); */
    font-weight: normal;
    font-style: normal;
}